*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-top: 3rem;
    font-family: "Kumbh Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 90%);
}
.container{
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid; */
    width: 650px;
    max-width: 900px;
    border-radius: 20px;
}
.card-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 32px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.card-top-flex{
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */
    padding: 5px;
    border-radius: 30px;
    background-color: hsl(0, 0%, 95%);
    box-shadow: inset -1px -1px 0px 0px hsl(0, 1%, 82%);
}

.top-selected{
    /* border: 1px solid; */
    box-shadow: 1px 1px 5px black;
    background-color: white;
    padding: 10px 10px;
    border-radius: 30px;
}

.beside-selected-top-card{
    margin-right: 10px;
}

.standings-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 2rem;
    gap: 1rem;
    /* padding: 20px; */
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.placements-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.name-views{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.name-views p{
    font-size: 14px;
}
.name-views h4{
    font-size: 18px;
}

.number-and-pfp{
    border: 1px solid rgba(128, 128, 128, 0.438);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    width: 125px;
    padding: 4px 3px 4px 3px ;
}
.number-and-pfp h2{
    margin-left: 23px;
    font-size: 32px;
    font-weight: 700;
}
.img-profile{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: 2px;
}
.img-collections{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.img-collections img{
    width: 65px;
    height: 60px;
    border-radius: 6px;
}

.bottom-button button{
    outline: none;
    border: none;
    background-color: rgb(8, 22, 76);
    color: white;
    padding:12px 40px;
    border-radius: 8px;
    margin: 0 0 1rem 0;
}