* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

  height: 100vh;
  font-family: "Montserrat", serif;
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.box-1 {
  /* padding: 1em; */
  min-width: 300px;
  max-width: 500px;
  height: auto;
  /* border: 1px solid black; */
  background-color: rgb(236, 238, 254);
}
.shadow-round-corner {
  border-radius: 12px;
  box-shadow: 2px 2px 8px 0px;
}

.card-top {
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card-top h2 {
  margin-bottom: 1em;
}
.card-top h1 {
  margin-bottom: 4px;
}

.card-top-p {
  margin-bottom: 16px;
}
button {
  font-weight: 600;
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  background-color: rgb(42, 45, 79);
  padding: 10px 2em;
  margin-bottom: 1em;
  border-radius: 6px;
}
.card-middle-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* justify-content:space-around; */
  align-items: flex-start;
  background-color: white;
  border-radius: inherit;
  padding: 1em;
}
.icon-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 4px;
}

.icon-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.icon-left p {
  overflow: hidden;
}
